# Introduction to Python

##Â Doing maths
We can use Python to addition, subtraction, multiplication and division on whole numbers (integers)

In [42]:
2+5

7

In [43]:
4*5

20

In [44]:
5-3

2

In [45]:
20/5

4.0

We can also do exponentiation e.g. 2 to the power 3 (e.g. 2 cubed) 

And we can do modular arthimetic e.g. what is the remainder when 6 is divided by 5

In [46]:
3**6

729

In [47]:
11 % 3

2

We can also use decimal numbers (called floating point numbers/floats)

In [48]:
2.7+1.3

4.0

### Questions for you to try
* What is the remainder when I divide 178 by 15?
* What is the sum of 387, 678 and 89?
* What is the difference between 7654 and 3454?
* What is 4 squared minus 2 to the 8?

## Printing Values Out

Sometimes we want to print out values. We do this by writing `print(value in here)`

In [49]:
print(4+7**4 * 19)

45623

If we want to print out text we have to wrap the text in speech marks

In [50]:
print("hi there")

hi there

### Questions for you to try
* Print out your name
* Print out hello world

## Variables

Sometimes we want to give a value a name so we can use it later

In [51]:
my_variable = 800/765

In [52]:
print(my_variable)

1.0457516339869282

In [53]:
my_variable * 76

79.47712418300654

### Questions for you to try
* Create two variables and make them both numbers then create a third variable equal to their sum. Then print out that third variable

## Tuples

In [54]:
my_tuple = (1, 2, 3)

In [55]:
print(my_tuple)

(1, 2, 3)

In [56]:
print(my_tuple[2])

3

### Questions for you to try
* Create a tuple with 5 items in it and store it in a variable
* Print out the middle item in the tuple

## Lists

In [57]:
my_list = ['dave', 'bob', 'james']

In [58]:
my_list[2]

'james'

In [59]:
my_list.append('thomas')

In [60]:
my_list

['dave', 'bob', 'james', 'thomas']

### Questions for you to try
* Create a list of 3 animals
* Add a new animal to your list
* Print out the last item of your list

## For loops

In [61]:
for item in my_list:
    print(item)

dave
bob
james
thomas

In [62]:
total = 0

In [63]:
for x in [38, 68, 39]:
    total = total + x

print(total)

145

### Questions for you to try
* Create a list of four numbers
* Work out the product of all the numbers in your list using a for loop

## Functions

In [64]:
def add(x, y):
    total = x + y
    return total

In [65]:
new_var = add(5,6)

In [66]:
new_var*12

132

### Questions for you to try
* Create a new function that takes two numbers and returns the sum of their squares

## Booleans

In [67]:
x = True

In [68]:
y = False

In [69]:
my_variable = 5 < 3

In [70]:
print(my_variable)

False

In [71]:
10 > 3

True

In [72]:
12 >= 12

True

In [73]:
12 <= 13

True

In [74]:
13 == 14

False

In [75]:
True and False

False

In [76]:
(3 > 2) and (4 > 5)

False

In [77]:
(3 > 2) or (4 > 5)

True

In [78]:
not (4 < 5)

False

## While loops

In [79]:
t = 5
while t > 0:
    print(t)
    t = t - 1

5
4
3
2
1

### Questions for you to try
* Using a while loop print out all the numbers between 10 and 15

## Functions as values

In [80]:
def multiply(x, y):
    return x*y

In [81]:
def make_my_func_bigger(my_func, x):
    result = my_func(x)
    return 2*result

In [82]:
def constant_func(x):
    return 5

In [83]:
make_my_func_bigger(constant_func, 18)

10

In [84]:
def apply_func_to_list(my_func, my_list):
    new_list = []
    for item in my_list:
        result = my_func(item)
        new_list.append(result)
    return new_list

In [85]:
some_list = [10, 12, 15]

def double_me(x):
    return 2*x

In [86]:
apply_func_to_list(double_me, some_list)

[20, 24, 30]

### Questions for you to try
* Write a function that squares its argument then use that and apply_func_to_list to square all the elements in the list

## Lambdas

In [87]:
apply_func_to_list(lambda y: y*3, some_list)

[30, 36, 45]

### Questions for you to try
* Rewrite q1 from 1.10 to use a lambda

## Classes and Objects

In [88]:
car1_colour = 'red'
car1_speed = 2.0
car1_hp = 3

In [89]:
def go_faster(speed):
    return speed + 1

In [90]:
car1_speed

2.0

In [91]:
car1_speed = go_faster(car1_speed)

In [92]:
car1_speed

3.0

In [93]:
class Car:
    speed = 0
    colour = 'red'
    hp = 0
    
    def speed_up(self):
        self.speed += 1

In [94]:
car1 = Car()

In [95]:
car1.speed

0

In [96]:
car1.speed_up()

In [97]:
car1.speed

1

In [98]:
car1.colour

'red'

In [99]:
class Wizard:
    def __init__(self, name, magic_points, health_points):
        self.name = name
        self.magic_points = magic_points
        self.health_points = health_points
    
    def heal(self, number_of_points_to_heal):
        self.health_points = self.health_points + number_of_points_to_heal

In [100]:
harry = Wizard('harry', 10, 15)

In [101]:
harry.health_points

15

In [102]:
harry.heal(16)

In [89]:
harry.health_points

31

### Questions for you to try
* Write a class to model a dragon

## If Statements (not covered in person)

In [105]:
x = 7
if x > 5:
    print("x is bigger than 5")
else: 
    print("x is less than or equal to 5")

x is bigger than 5

### Questions for you to try
* Create a list of 7 numbers 
* Find the smallest number in your list using a for loop

## Maps / Dictionaries (not covered in person)

In [106]:
my_dict = {'a': 1, 'b': 1, 'c': 2}
print(my_dict)

{'a': 1, 'b': 1, 'c': 2}

In [107]:
print(my_dict['b'])

1

In [108]:
my_dict['d'] = 4

In [109]:
my_dict

{'a': 1, 'b': 1, 'c': 2, 'd': 4}

In [110]:
my_dict['b'] += 1

In [111]:
print(my_dict['b'])

2